// Colors
$color-base: #d7d3ce;
$color-accent: #d8ff8f;
$color-primary: #000000;
$color-secondary: #f0b1d3;

// Typography
$font-base: "Lora", sans-serif;
$font-mono: "Jetbrains Mono", monospace;

// Font sizes
$font-size-base: 1rem;
$font-size-xlg: calc($font-size-base * 4);
$font-size-lg: calc($font-size-base * 2);
$font-size-sm: calc($font-size-base * 0.875);

// Spacing
$spacing-base: 1rem;
$spacing-s: calc($spacing-base * 0.5);
$spacing-m: calc($spacing-base * 2);
$spacing-l: calc($spacing-base * 4);
